Source: keepassxc-browser
Section: web
Priority: optional
Maintainer: Bruno Kleinert <fuddl@debian.org>
Build-Depends: debhelper-compat (= 11)
Standards-Version: 4.3.0
Homepage: https://github.com/keepassxreboot/keepassxc-browser

Package: webext-keepassxc-browser
Architecture: all
Depends:
 ${misc:Depends},
 libjs-jquery (>= 3.3.1),
 libjs-jquery-ui,
 fonts-glewlwyd,
 keepassxc
Recommends:
 firefox (>= 52) | firefox-esr (>= 52) | chromium (>= 69.0.3497.100)
Description: Browser extension to store web site credentials in KeePassXC
 KeePassXC-Browser is a web browser extension for Firefox and Chromium that
 connects to the password manager KeePassXC. See package keepassxc for its
 description.
 .
 Please note that KeePassXC must be running for this extension to work!
