#!/usr/bin/make -f

%:
	dh $@

override_dh_fixperms:
	dh_fixperms
	chmod -x debian/webext-keepassxc-browser/usr/share/webext/keepassxc-browser/icons/key.svg
	chmod -x debian/webext-keepassxc-browser/usr/share/webext/keepassxc-browser/manifest.json
	chmod -x debian/webext-keepassxc-browser/usr/share/webext/keepassxc-browser/fonts/forkawesome-webfont.woff2

override_dh_install:
	dh_install

	# Firefox does not allow links pointing outside extensions, so we must
	# copy files into the web extension. This requires the usage of the
	# Built-Using field in debian/control.
	install /usr/share/fonts-fork-awesome/css/fork-awesome.css debian/webext-keepassxc-browser/usr/share/webext/keepassxc-browser/fonts/
	install /usr/share/fonts-fork-awesome/fonts/forkawesome-webfont.woff2 debian/webext-keepassxc-browser/usr/share/webext/keepassxc-browser/fonts/

# Keep in sync with Build-Depends!
override_dh_gencontrol:
	dh_gencontrol -- -Vmy:Built-Using="$(shell dpkg-query --show -f '$${source:Package} (=$${source:Version}),' fonts-fork-awesome)"
